.backgroundWhite {
    background-color: #FAFAFA;
}
.middle-margin {
    margin: 0 5%;

}
.margin-auto {
    margin: auto;
}
.middle-margin2 {
    margin: 0 2%;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-10 {
    margin-bottom: 10px;
}