.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(0,0,0, 0.55)
 }
 .logo {
    width: 40%;
 }
 .header .logo img {
    width: 20%;
    margin-top: 15px;
 }
 .nav {
    width: 60%;
 }
 .nav > li {
    display: inline-block;
    text-align: right;
 }
 
 .header .nav > li > a {
    font-size: 13px;
    color: var(--WhiteColor);
    padding: 30px 10px;
    display: block;
 }
 .header .nav li a.active::after, .header .nav > li > a::after {
    content: '';
    background-color: var(--skyBlueColor);
    display: block;
    height: 3px;   
    transition: width .5s;
    margin-top: 3px;
 }
 .header .nav > li > a::after {
    width: 0%;
 }  
 .header .nav li a.active::after {
    width: 100%;
 }
 .header .nav > li > a:hover::after {
    width: 100%;
 }
 .dropdown {
    position: relative;
 }
 .dropdown-menue{
    position: absolute;
    color: black;
    width: 150px;
    left: -100%;
    top: 77%;
    visibility: hidden;
    opacity: 0;
 }
 .dropdown:hover .dropdown-menue {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.7s, visibility 0.7s;
 }
 .dropdown-menue a {
    width: 100%;
    display: block;
    text-align: center;
    color: var(--WhiteColor);
 }