* {
   margin: 0;
   padding: 0;
}
.nav {
   background-color: blueviolet;   
}

.nav .logo {
   font-size: 22px;
   background-color: yellow;
   width: 30%;
   float: left;
}

.nav .list {
   background-color: red;
   list-style: none;
   width: 80%;
   float: left;
}

.list ul li a{
   text-decoration: none;
   color: white;
}
.list ul li {
   display: inline-block;
}