* {
   margin: 0;
   padding : 0;
   box-sizing: border-box;
}
:root {
   --skyBlueColor: #6195ff;
   --WhiteColor: #fff;
   --gray: #999;
   --overlayColor: rgba(0,0,0, 0.83);
   --grayBorder: rgb(201, 201, 201);
}
body {
   font-family: 'Varela Round', sans-serif;
}
.container {
   width: 70%;
   margin: auto;
}
h1, h2, h3, h4, h5 {
   font-family: 'Montserrat', sans-serif;
}
button {
   font-family: inherit
}
.button-hover {
   transition: opacity .5s;
}
.button-hover:hover {
   opacity: 0.8;
}
.pd-y {
   padding: 120px 0;
}
/* Solving Float peoblems*/
.clear {
   clear: both;
}
.overflow {
   /* overflow: hidden; */
}
a {
   text-decoration: none;
}

/* General Header in all sections*/
.section-header {
   text-align: center;
   font-size: 31.5px;
}
.section-title {
   text-transform: capitalize;
   padding-bottom: 18px;
}
.line {
   background-color: var(--skyBlueColor);
   height: 5px;
   width: 80px;
   display: block;
   margin: auto;
   margin-bottom: 70px;
}
/*General padding for all sectiona*/
.padding-y {
   padding: 120px 0;
}